body{
    background-color: black;
}
.btns{
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.fas{
    font-size: 30px;
}
.far{
    font-size: 35px;
}
.btn{
    padding: 10px;
    margin: 5px;
    background-color: rgb(224, 32, 138);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(20, 20, 20, 0.4);
    /* z-index: 2; */
}

.canvas-container{
    display: flex;
    /* justify-content: space-between; */
}
#canvas{
    background-color: white;
    border-radius: 20px;
    top: 0px;
    box-shadow:0px 0px 20px rgb(224, 32, 138);
}
#readMe{
    background-color:  rgb(224, 32, 138);
    display: inline-block;
    margin: 50px 20px;
    color: white;
    height: 50px;
    line-height: 50px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
#list{
    line-height: 25px;
    position: absolute;
    margin: 15px 0px;
    min-width: 180px;
    box-shadow: 0px 0px 10px rgb(224, 32, 138);
    display: none;

}
#readMe:hover #list{
    display: block;
}
#userInput{
    margin: 20px;
    color: white;
    font-size: 18px;
}
#fontSize{
    /* height: 25px; */
    width: 100px;
    font-size: 20px;
    outline: none;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}